.overflow-scroll {
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-design::-webkit-scrollbar {
  width: 8px;
  margin: 40px 0;
}

.scroll-design::-webkit-scrollbar-track {
  margin: 40px 0;
}

.scroll-design::-webkit-scrollbar-thumb {
  background-color: rgb(167, 162, 162);
  border-radius: 20px;
}

.vertical-align {
  writing-mode: vertical-lr;
}
